--- 
layout: default 
title: About 
permalink: /about/ 
---

<!-- Header -->
<header class="about text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1 class="mb-4">ABOUT</h1>
        <h1 class="mb-4">DreamVok</h1>
      </div>
    </div>
  </div>
</header>


<!-- Icons Grid -->
<section class="features-icons">
  <div class="container">
    <div class="row text-center mb-5">
      <div class="col-lg-12 mx-auto">
        <h3 class="text-primary">
          <span>設計創新 x 科技研發，重新定義市場遊戲規則</span>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <p class="mb-5">
          DreamVok 意集設計，是工研院創立以來第 1 家 Spin off 成立之創新設計顧問公司，前身來自經濟部技術處「Dechnology 科技美學設計加值計畫」團隊 (Dechnology=Design+Technology)。
        </p>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-lg-4 c">
        <img class="img-fluid" src="../assets/images/about/img_about_dreamvok_01@2x.jpg" alt="">
      </div>
      <div class="col-lg-4">
        <img class="img-fluid" src="../assets/images/about/img_about_dreamvok_02@2x.jpg" alt="">
      </div>
      <p class="text-center text-primary mx-auto mt-5">「Dechnology創新方法論」兩大創新模式<br>運用科技 (T)、商業 (B) 與設計 (D) 打造創新接觸點</p>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto m-5">
        <p class="mb-5">
          憑藉過去多年在科技研發、休閒旅遊、健康照護、金融保險和公共服務等領域，累積超過 350 件創新產品與服務設計經驗，DreamVok 發展出結合設計 (D)、商業 (B) 與科技 (T) 的 Dechnology 創新方法。
        </p>
        <p class="mb-5">
          以此思維脈絡，並依循服務設計的 4D 流程，協同客戶重新定義客群樣貌和需求痛點，串聯跨領域的利害關係人，建構起新興的商業鏈與生態系統，打造品牌新價值與新體驗。此外，近年來也因應全球高齡少子化的來臨，DreamVok 更聚焦於 50 新熟齡市場，透過設計帶來能翻轉第二人生的產品與服務。
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 mx-auto mb-5">
        <img class="img-fluid" src="../assets/images/about/img_about_4d@2x.jpg" alt="">
        <p class="text-center text-primary mt-3">DreamVok 的服務設計 4D 流程</p>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-lg-12 mx-auto mb-5 text-center">
        <img height="55px" class="" src="../assets/images/about/ic_dreamvok_why@2x.jpg" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <p class="mb-5">
          DreamVok 是 Dream 與 Evoke 的複合字，代表喚醒夢想並募集創意。字母「V」圖像上為我們與客戶的聯手合作，強調「共創」的重要，一同打造獨特價值與體驗。
        </p>
      </div>
    </div>
  </div>
</section>


<!-- Our Strengths -->
<section class="strengths text-center">
  <div class="overlay"></div>
  <div class="container bg-white p-5">
    <div class="row">
      <div class="col-lg-12 mx-auto mt-5 mb-5">
        <h3 class="middleline middleline-primary">
          <span class="">Our strengths</span>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="media">
          <a class="media-left media-middle" href="#">
            <i class="icon icon-people bg-info"></i>
          </a>
          <div class="media-body text-left">
            <h5 class="text-primary media-heading">出身研發機構的創新設計團隊</h5>
            <p>團隊成員長期在工研院及各研發機構、產業扮演創新設計的推手，多元背景包含設計、工程、行銷、財務與管理等，也因此擁有比一般團隊更卓越的前瞻趨勢、新科技及跨域資源整合能力。</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="media">
          <a class="media-left media-middle" href="#">
            <i class="icon icon-people bg-success"></i>
          </a>
          <div class="media-body text-left">
            <h5 class="text-primary media-heading">建構系統性發展創新的方法</h5>
            <p>結合設計、商業與科技所建立的 Dechnology 創新方法與工具，協助客戶有系統地發展創新產品、服務與未來發展藍圖，進而重新定義商業模式。擁有超過 350 件創新設計專案、輔導 35 件產品獲得國際獎項的豐厚經驗。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="media">
          <a class="media-left media-middle" href="#">
            <i class="icon icon-people bg-warning"></i>
          </a>
          <div class="media-body text-left">
            <h5 class="text-primary media-heading">具備趨勢研究與資訊視覺化的整合能力</h5>
            <p>不僅有超過 9 大領域 (如高齡銀髮、休閒旅遊、金融服務、零售通路、健康照護、未來居家等) 的長期趨勢研究能量，更結合視覺化設計，把資訊透過更友善的介面傳達給我們的客戶，以提升整體創新的成效。</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="media">
          <a class="media-left media-middle" href="#">
            <i class="icon icon-people bg-danger"></i>
          </a>
          <div class="media-body text-left">
            <h5 class="text-primary media-heading">提供全面的品牌創新佈局服務</h5>
            <p>提供企業從前期的創新策略、前瞻趨勢、市場與顧客研究分析，到新產品服務設計，科技整合、系統開發、空間規劃與法律諮詢等的一站式服務，提供企業於新事業與新技術佈局的整體解決方案。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="media">
          <a class="media-left media-middle" href="#">
            <i class="icon icon-people bg-secondary"></i>
          </a>
          <div class="media-body text-left">
            <h5 class="text-primary media-heading">擅長引導客戶激盪創新想法</h5>
            <p>DreamVok 擁有出色的引導力，協助客戶於跨團隊及部門的共創，進而凝聚組織共識，激發打破框架的創新思維與能量，至今已具備規劃及執行百場以上設計工作坊的經驗。</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="media">
          <a class="media-left media-middle" href="#">
            <i class="icon icon-people bg-primary"></i>
          </a>
          <div class="media-body text-left">
            <h5 class="text-primary media-heading">專注未來 50⁺ 產品 / 服務之共同開發</h5>
            <p>DreamVok 也是十分獨特的「設計加速器」與「設計投資者」，透過我們核心的創新設計能量與跨域整合能力，致力於串聯國內外 50 的標竿品牌與新創公司，共同設計及開發下一代熟齡創新產品與服務。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% include dreamvokers.html %} {% include partners.html %} {% include client.html %}