.charactors {
  padding-top: 7rem;
  padding-bottom: 7rem
}

.charactors .charactor {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.charactors .charactor-item {
  max-width: 20rem;
}

.charactors .charactor-item img {
  max-width: 12rem;
}
