.charactors {
  padding-top: 7rem;
  padding-bottom: 7rem
}

.charactors .charactor {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.charactors .charactor-item {
}

.charactors .charactor-item img {
  height: 160px;
}
