#kevin:hover {
  content: url("../assets/images/about/img_about_dreamvokers_kevin_b@2x.png");
}

#mike:hover {
  content: url("../assets/images/about/img_about_dreamvokers_mike_b@2x.png");
}

#phoebe:hover {
  content: url("../assets/images/about/img_about_dreamvokers_phoebe_b@2x.png");
}

#lori:hover {
  content: url("../assets/images/about/img_about_dreamvokers_lori_b@2x.png");
}

#yuhao:hover {
  content: url("../assets/images/about/img_about_dreamvokers_yuhao_b@2x.png");
}