.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
  font-size: 1.2rem;
}

.dropdown-menu {
  display: block;
  position: absolute;
  margin: 0;
  border-right: 3px $primary solid;
  border-left: 3px $primary solid;
  border-top: 0;
  border-radius: 0;
  list-style: none;
  width: 100%;
  padding: 0;
  transform: translateY(-.5rem);
  visibility: hidden;
  opacity: 0;
  transition: transform 0.5s linear, visibility 0.3s linear, opacity 0.3s linear;
}

.dropdown:hover > .dropdown-menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}


.dropdown > .dropdown-menu > li{
  border-bottom: 2px $primary solid;
  border-radius: 0;
}

/** Button Styles **/
.dropdown button {
  font-weight: bold;
  border: 3px $primary solid;
  text-align: left;
  width: 100%;
  background: $primary;
  color: #FFFFFF;
  border: none;
  margin: 0;
  padding: 13px 1em;
  font-size: 1em;
}

/** Arrow Styles **/
.dropdown button span{
  float: right;
}

/** List Item Styles **/
.dropdown a {
  font-weight: bold;
  
  font-size: 1.2rem;
  display: block;
  padding: 13px 1em;
  text-decoration: none;
  background: #fff;
  color: $primary;
}

/** List Item Hover Styles **/
.dropdown a:hover {
  color: #fff;
  background: $primary;
}