footer.footer {
  font-size: 14px;
  padding-top: 4rem;
  padding-bottom: 4rem;
  & a{
    color: #fff;
    &:hover{
      color: $primary;
      text-decoration: none;
    }
  }
  & hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #fff;
    margin: 1em 0;
    padding: 0;
  }
}

.footnav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  & .footnav-link{
    text-transform: uppercase;
  }
}