body {
  @include body-font;
  animation: fadeIn ease 1s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include body-font;
}

.page-content{
  margin-top: 75px;
}

p {
  font-weight: lighter;
  letter-spacing: 1px;
  line-height: 32px;
}

a {
  font-weight: lighter;
  letter-spacing: 1px;
  color: $gray-800;
  transition: color .2s;  
  &:hover{
    color: $primary;
  }
}
// .circle {
//   margin: 4px;
//   padding: 1rem;
//   border: dashed 2px $primary;
//   border-radius: 50%;
//   max-width: 100%;
//   color: $primary;
//   text-align: center;
// }

.circle {
  position: relative;
  display: block;
  margin: 2rem 0;
  background-color: transparent;
  color: $primary;
  text-align: center;
}

.circle:after {
  display: block;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
  border-radius: 50%;
  border: 3px dashed $primary;
  content: "";
}

.circle__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circle__wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.circle__content {
  display: table-cell;
  padding: 1rem;
  vertical-align: middle;
}

@media (min-width: 480px) {
  .circle__content {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .circle__content {
    font-size: 1rem;
  }
}