header.home {
  position: relative;
  background-color: $gray-800;
  background: url('../assets/images/home/img_hero@2x.jpg') no-repeat center center;
  @include background-cover;
  padding-top: 5rem;
  padding-bottom: 7rem;
  h1 {
    font-size: 2.5rem;
  }
  @media (min-width: 768px) {
    padding-top: 8rem;
    padding-bottom: 8rem;
    h1 {
      font-size: 2.5rem;
    }
  }
}

footer {
  img{
    height: 40px;
  }
  a{
    color: #fff;
  }
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #fff;
    margin: 1em 0;
    padding: 0
  }
  .contact{
    display: flex;
    justify-content: space-between;
    p {
      display:inline-block
    }
  }
}