
header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  position: relative;
  background-color: $gray-800;
  padding-top: 5rem;
  padding-bottom: 7rem;
  h1 {
    font-size: 2.5rem;
  }
  @media (min-width: 768px) {
    padding-top: 8rem;
    padding-bottom: 8rem;
    h1 {
      font-size: 2.5rem;
    }
  }
}

header.home {
  background: url("../assets/images/home/img_hero@2x.jpg") no-repeat center center;
  @include background-cover;
}

header.about {
  background: url("../assets/images/about/img_about_cover@2x.jpg") no-repeat center center;
  @include background-cover;
}

header.service {
  background: url("../assets/images/service/img_service_cover@2x.jpg") no-repeat center center;
  @include background-cover;
}

header.case {
  background: url("../assets/images/case/img_case_cover@2x.jpg") no-repeat center center;
  @include background-cover;
}

header.contact {
  background: url("../assets/images/contact/img_contact_cover@2x.jpg") no-repeat center center;
  @include background-cover;
}

header.news {
  background: url("../assets/images/news/img_news_cover@2x.jpg") no-repeat center center;
  @include background-cover;
}

header.media_page {
  background: url("../assets/images/media/img_media_cover@2x.jpg") no-repeat center center;
  @include background-cover;
}

header.career {
  background: url("../assets/images/career/img_career_cover@2x.jpg") no-repeat center center;
  @include background-cover;
}

// integrative-design-research-required-for-innovation

header.future-2020 {
  background: url("../assets/images/case/integrative-design-research-required-for-innovation/2020-future-living-experience-design/img_2020-future-living-experience-design_hero@2x.jpg") no-repeat center center;
  @include background-cover;
}

header.next-generation {
  background: url("../assets/images/case/integrative-design-research-required-for-innovation/next-generation-elder-friendly-city-research/img_next-generation-elder-friendly-city-research_hero@2x.jpg") no-repeat center center;
  @include background-cover;
}

header.how-to-age {
  background: url("../assets/images/case/integrative-design-research-required-for-innovation/how-to-age-with-good-design/img_how-to-age-with-good-design_hero@2x.jpg") no-repeat center center;
  @include background-cover;
}

header.future-retail {
  background: url("../assets/images/case/integrative-design-research-required-for-innovation/future-retail-future-travel-innovative-design-thinking-toolkit/img_future-retail-future-travel-innovative-design-thinking-toolkit_hero@2x.jpg") no-repeat center center;
  @include background-cover;
}

header.corporate-innovation {
  background: url("../assets/images/case/integrative-design-research-required-for-innovation/corporate-innovation-design-workshop/img_corporate-innovation-design-workshop_hero@2x.jpg") no-repeat center center;
  @include background-cover;
}

// patent-technology-commercialization-and-r&d-distribution-consultant

header.innovative-application {
  background: url("../assets/images/case/patent-technology-commercialization-and-r&d-distribution-consultant/innovative-application-of-coating-technology/img_innovative-application-of-coating-technology_cover@2x.jpg") no-repeat center center;
  @include background-cover;
}

header.led-facial-mask{
  background: url("../assets/images/case/patent-technology-commercialization-and-r&d-distribution-consultant/led-facial-mask/img_led-facial-mask_cover@2x.jpg") no-repeat center center;
  @include background-cover;
}

header.medical-tattoo-stickers{
  background: url("../assets/images/case/patent-technology-commercialization-and-r&d-distribution-consultant/medical-tattoo-stickers/img_medical-tattoo-stickers_hero@2x.jpg") no-repeat center center;
  @include background-cover;
}

header.lobsang-stairlift{
  background-color: $primary;
  @include background-cover;
}

header.lobsang-stairlift{
  background-color: $primary;
  @include background-cover;
}

header.water911-water {
  background-color: $primary;
  @include background-cover;
}

header.dementia-future {
  background: url("../assets/images/case/patent-technology-commercialization-and-r&d-distribution-consultant/dementia-future-care-support-system/img_dementia-future-care-support-system_hero@2x.jpg") no-repeat center center;
  @include background-cover;
}

header.future-smart-home {
  background: url("../assets/images/case/patent-technology-commercialization-and-r&d-distribution-consultant/future-smart-home-innovation-distribution/img_future-smart-home-innovation-distribution_hero@2x.jpg") no-repeat center center;
  @include background-cover;
}

header.skincare-industry {
  background: url("../assets/images/case/patent-technology-commercialization-and-r&d-distribution-consultant/skincare-industry-innovation/img_skincare-industry-innovation_hero@2x.jpg") no-repeat center center;
  @include background-cover;
}