// {
//   background-image: url("../assets/images/")
// }  

.portfolio-blend-img {
  transition: .5s;
}

.portfolio-item > .portfolio-blend-img {
  background-color: transparent;
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  height: 320px;
}

.portfolio-item:hover > .portfolio-blend-img{
  background-color: rgba(0, 117, 201, 1);
}

.portfolio-item >.portfolio-blend-img-high{
  height: 640px;
}

.retirement-market-insurance-innovation-service-design{
  background-image: url("../assets/images/case/brand-experiences-and-new-business-model-design/img_retirement-market-insurance-innovation-service-design_cover_a@2x.jpg");
}  

.future-hotel-and-experience-design {
  background-image: url("../assets/images/case/brand-experiences-and-new-business-model-design/img_50+_future_hotel_and_experience_design_cover_a@2x.jpg");
}  

.real-estate-technology-3-0 {
  background-image: url("../assets/images/case/brand-experiences-and-new-business-model-design/img_real-estate-technology-3-0_cover_a@2x.jpg")
}  

.future-living-experience-design{
  background-image: url("../assets/images/case/integrative-design-research-required-for-innovation/img_2020-future-living-experience-design_a@2x.jpg");
}  

.next-generation-elder-friendly-city-research{
  background-image: url("../assets/images/case/integrative-design-research-required-for-innovation/img_next-generation-elder-friendly-city-research_cover_a@2x.jpg");
} 

.how-to-age-with-good-design{
  background-image: url("../assets/images/case/integrative-design-research-required-for-innovation/img_how-to-age-with-good-design_cover_a@2x.jpg")
}  

.future-retail-future-travel-innovative-design-thinking-toolkit{
  background-image: url("../assets/images/case/integrative-design-research-required-for-innovation/img_future-retail-future-travel-innovative-design-thinking-toolkit_cover_a@2x.jpg")
}

.corporate-innovation-design-workshop{
  background-image: url("../assets/images/case/integrative-design-research-required-for-innovation/img_corporate-innovation-design-workshop_a@2x.jpg")
}  

.innovative-application-of-coating-technology{
  background-image: url("../assets/images/case/patent-technology-commercialization-and-r&d-distribution-consultant/img_innovative-application-of-coating-technology_cover@2x.jpg")
}  

.led-facial-mask{
  background-image: url("../assets/images/case/patent-technology-commercialization-and-r&d-distribution-consultant/img_led-facial-mask@2x.jpg")
}  

.medical-tattoo-stickers{
  background-image: url("../assets/images/case/patent-technology-commercialization-and-r&d-distribution-consultant/img_medical-tattoo-stickers_cover@2x.jpg")
}  

.lobsang-stairlift{
  background-image: url("../assets/images/case/patent-technology-commercialization-and-r&d-distribution-consultant/img_blue_cover@2x.jpg")
}  

.water911-water-rescue-motorboat{
  background-image: url("../assets/images/case/patent-technology-commercialization-and-r&d-distribution-consultant/img_blue_cover@2x.jpg")
}  

.dementia-future-care-support-system{
  background-image: url("../assets/images/case/patent-technology-commercialization-and-r&d-distribution-consultant/img_dementia-future-care-support-system_cover@2x.jpg")
}

.future-smart-home-innovation-distribution{
  background-image: url("../assets/images/case/patent-technology-commercialization-and-r&d-distribution-consultant/img_future-smart-home-innovation-distribution_cover@2x.jpg")
}  

.skincare-industry-innovation{
  background-image: url("../assets/images/case/patent-technology-commercialization-and-r&d-distribution-consultant/img_skincare-industry-innovation_cover@2x.jpg")
}  

.case-cover-1{
  background-image: url("../assets/images/case/img_featured_case_cover_01_a@2x.jpg")
}

.case-cover-2{
  background-image: url("../assets/images/case/img_featured_case_cover_02_a@2x.jpg")
}

.case-cover-3{
  background-image: url("../assets/images/case/img_featured_case_cover_03_a@2x.jpg")
}