.media {
  padding-top: 40px;
}

.media a:hover, .media a:focus{
  text-decoration: none;
  outline: none;
}

.media .media-left .icon {
  display: block;
  width: 80px;
  height: 80px;
  padding: 16px 6px;
  color: #f0f0f0;
  text-align: center;
  border-radius: 50%;
}

.media .media-left .icon::before{
  font-size: 44px;
}

.media .media-body{
  padding-left: 3rem;
}

.media .media-body .media-heading{
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 32px;
}


.newslist-item{
  text-align: left;
  align-items: center;
  justify-content: center;
  background-color: $white;
  & .date{
    color: $gray-500;
  }
}

.medialist {
  padding-right: 15px;
  padding-left: 15px;
}

.medialist-item {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  text-align: left;
  background-color: #fff;
  transition: .5s;
  
  & .date{
    font-size: 14px;
    max-width: 150px;
    flex-grow: 2;
    color: $gray-500;
  }
  & .title{
    font-weight: bold;
    flex-grow: 8;
  }
  & .link{
    a{
      color: $primary;
    }
    color: $primary;
    flex-grow: 2;
    text-align: right;
  }

  & a span { 
    position:absolute; 
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
  }
  
  &:hover{
    text-decoration: none;
    transform: scale(1.008, 1.008);
  }
}
