.media {
  padding-top: 40px;
}

.media a:hover, .media a:focus{
  text-decoration: none;
  outline: none;
}

.media .media-left .icon {
  display: block;
  width: 80px;
  height: 80px;
  padding: 16px 6px;
  color: #f0f0f0;
  text-align: center;
  border-radius: 50%;
}

.media .media-left .icon::before{
  font-size: 44px;
}

.media .media-body{
  padding-left: 3rem;
}

.media .media-body .media-heading{
  font-size: 1rem;
  line-height: 80px;
}


.newslist-item{
  text-align: left;
  align-items: center;
  justify-content: center;
  background-color: $white;
  & .date{
    color: $gray-500;
  }
}

.medialist-item {
  display: flex;
  text-align: left;
  background-color: #fff;
  & .date{
    max-width: 150px;
    flex-grow: 2;
    color: $gray-500;
  }
  & .title{
    flex-grow: 8;
  }
  & .link{
    flex-grow: 2;
    text-align: right;
  }
}
