.middleline {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  text-align: center;
  &-white{
    color: #fff;
  }
  &-white:before, &-white:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #fff;
    margin: auto .5rem;
  }
  &-primary{
    color: $primary;
  }
  &-primary:before, &-primary:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid $primary;
    margin: auto .5rem;
  }
  &-secondary{
    color: $secondary;
  }
  &-secondary:before, &-secondary:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid $secondary;
    margin: auto .5rem;
  }
}
