$text: rgba(255,255,255,.7);

.nav-link {
  position: relative;
  color: inherit;
  text-decoration: none;
  &:before, &:after {
    content: '';
    position: absolute;
    transition: transform .5s ease;
  }
}

.nav-link.effect-3 {
  display: inline-block;
  overflow: hidden;
  &:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: $primary;
    transform: translateX(-100%);
  }
  &:hover:before {
    transform: translateX(0);
  }
}

.nav-item.active{
  & .nav-link{
    display: inline-block;
    overflow: hidden;
    color: $primary;
    &:before {
      left: 0;
      bottom: 0;
      width: 100%;
      height: 2px;
      background: $primary;
      transform: translateX(0);
    }
  }
}

.navbar {
  padding: 0;
  text-transform: uppercase;
}

.navbar-brand {
  height: 75px;
  padding: 0;
}

.navbar-expand-lg .navbar-nav .nav-link{
  font-size: 14px;
  padding: .5rem 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
}

.nav-item {
  margin: 0 1.5rem;
  padding-top: .5rem;
}



.navbar-toggler-icon{
  color: $primary;
}

.navbar-vokano{
  margin-bottom: 3px;
}

