<!-- Case Normal -->
<section class="section_tide">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-4">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <p class="category mb-0">2014</p>
              </span>
              <span class="caption-content">
                <h4 class="title">2020未來生活的體驗設計</h4>
              </span>
              <span class="caption-content">
                <p class="link mb-0">Read more</p>
              </span>
            </span>
            <img class="portfolio-blend-img img-fluid" src="{{ site.baseurl }}/assets/images/case/img_2020-future-living-experience-design_a@2x.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-4">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <p class="category mb-0">2016</p>
              </span>
              <span class="caption-content">
                <h4 class="title">下世代的友善高齡城市研究</h4>
              </span>
              <span class="caption-content">
                <p class="link mb-0">Read more</p>
              </span>
            </span>
            <img class="img-fluid" src="{{ site.baseurl }}/assets/images/case/img_next-generation-elder-friendly-city-research_cover_a@2x.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-4">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <p class="category mb-0">2016</p>
              </span>
              <span class="caption-content">
                <h4 class="title">高齡產品與服務創新工具組</h4>
              </span>
              <span class="caption-content">
                <p class="link mb-0">Read more</p>
              </span>
            </span>
            <img class="img-fluid" src="{{ site.baseurl }}/assets/images/case/img_how-to-age-with-good-design_cover_a@2x.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>