<!-- DreamVokers -->

<section class="charactors text-center bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto mb-5">
        <h3 class="middleline middleline-white">
          <span class="bg-secondary">DreamVokers</span>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 charactor">
        <div class="charactor-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="{{ site.baseurl }}/assets/images/about/img_about_dreamvokers_kevin_a.png"
            alt="">
          <h5 class="text-primary mb-4 mt-4">楊振甫 博士</h5>
          <p class="text-primary mb-0">執行長 </p>
          <p class="text-primary mb-4">文藝優秀青年 / 專欄作家 / 3 寶的爸</p>
          <p class="text-left font-weight-light mb-0">擅長跨領域設計與社會創新，具有財務和行銷背景，亦創辦 5% Design Action 社會設計平台，以及 Service Design Network Taiwan 共同發起人，著有「打開服務設計的秘密」、「未來生活的創新提案」等書。</p>
        </div>
      </div>
      <div class="col-lg-4 charactor">
        <div class="charactor-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="{{ site.baseurl }}/assets/images/about/img_about_dreamvokers_mike_a.png"
            alt="">
          <h5 class="text-primary mb-4 mt-4">伍志翔</h5>
          <p class="text-primary mb-0">技術總監</p>
          <p class="text-primary mb-4">b-boy / 兩個男孩的爸與他老婆的兒子 </p>
          <p class="text-left font-weight-light mb-0">核心專業為科技整合與技術轉譯。長期投入「以設計拓展科技的創新應用」及「運用科技整合落實創新顧客體驗」之相關專案。 </p>
        </div>
      </div>
      <div class="col-lg-4 charactor">
        <div class="charactor-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="{{ site.baseurl }}/assets/images/about/img_about_dreamvokers_phoebe_a@2x.png"
            alt="">
          <h5 class="text-primary mb-4 mt-4">呂承慧</h5>
          <p class="text-primary  mb-0">品牌總監</p>
          <p class="text-primary  mb-4">喜歡觀察生活的旅人 / 交遊廣闊的資深少女</p>
          <p class="text-left font-weight-light mb-0">專長為品牌定位與經營，活動與產品企劃。具有執行跨產業商品企劃、設計推廣與公關活動、產業品牌與形象轉型包裝、零售通路品牌定位規劃等實務經驗。</p>
        </div>
      </div>
      <div class="col-lg-4 charactor">
        <div class="charactor-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="{{ site.baseurl }}/assets/images/about/img_about_dreamvokers_lori_a@2x.png"
            alt="">
          <h5 class="text-primary mb-4 mt-4">楊芷涵</h5>
          <p class="text-primary mb-0">資深服務設計師</p>
          <p class="text-primary mb-4">outdoor學霸 / 零食終結者</p>
          <p class="text-left font-weight-light mb-0">專長為服務設計與劇場導演，並利用設計方法幫助不同品牌改善與打造創新服務，擅長趨勢研究、使用者需求分析、企業共創營造與新型態顧客服務測試。</p>
        </div>
      </div>
      <div class="col-lg-4 charactor">
        <div class="charactor-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="{{ site.baseurl }}/assets/images/about/img_about_dreamvokers_yuhao_a@2x.png"
            alt="">
          <h5 class="text-primary mb-4 mt-4">黃昱豪</h5>
          <p class="text-primary mb-0">資深服務設計師</p>
          <p class="text-primary mb-4">美劇愛好者 / 煮飯舒壓的廚男</p>
          <p class="text-left font-weight-light mb-0">專長為服務設計與工業設計。執行過設計趨勢研究、使用者需求調查、跨領域工作坊，並協助品牌企業透過共創來打造新型態顧客體驗。</p>
        </div>
      </div>
      <div class="col-lg-4 charactor">
        <div class="charactor-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="{{ site.baseurl }}/assets/images/about/img_about_dreamvokers_viola@2x.png"
            alt="">
          <h5 class="text-primary mb-4 mt-4">璩君芮 </h5>
          <p class="text-primary mb-0">實習設計師</p>
          <p class="text-primary mb-4">北醫健管系</p>
          <p class="text-left font-weight-light mb-0">目前就讀北醫高齡健康管理學系四年級。擅於高齡設計思考，回歸使用者需求提出提升生活質量與改善生理功能的方案。</p>
        </div>
      </div>

    </div>
  </div>
</section>