<section style="padding-top: 4rem; padding-bottom: 4rem;">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mx-auto">
        <!-- dropdown container -->
        <div class="dropdown">

          <!-- trigger button -->
          <button>Featured Work
            <span>
              <img class="img-fluid" src="{{ site.baseurl }}/assets/images/case/down.svg" alt="">
            </span>
          </button>

          <!-- dropdown menu -->
          <ul class="dropdown-menu">
            <li>
              <a href="{{ site.baseurl }}/integrative-design-research-required-for-innovation">創新背後所需之整合式設計研究</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/patent-technology-commercialization-and-r&d-distribution-consultant">專利 / 技術之商品化與研發佈局顧問</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/brand-experiences-and-new-business-model-design">品牌體驗與新商業模式設計</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/joint-development-of-50+-new-aging-products"> 50⁺ 新熟齡產品 / 服務合作開發</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>