<!-- Footer -->
<footer class="footer bg-secondary">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-6 text-lg-left my-auto">
        <img height="40px" src="{{ site.baseurl }}/assets/images/footer/img_footer_logo@2x.jpg" alt="">
      </div>
      <div class="col-lg-6 text-lg-left my-auto">
        <ul class="footnav list-inline m-0 mt-3">
          <li class="list-inline-item">
            <a class="footnav-link" href="{{ site.baseurl }}/news">News</a>
          </li>
          <li class="list-inline-item">
            <a class="footnav-link" href="{{ site.baseurl }}/media">Media</a>
          </li>
          <li class="list-inline-item">
            <a class="footnav-link" href="{{ site.baseurl }}/career">Career</a>
          </li>
          <li class="list-inline-item">
            <a class="footnav-link" href="{{ site.baseurl }}/contact">Contact</a>
          </li>
          <li class="list-inline-item">
            <span>
              <a class="footnav-link" href="#">中文</a>
              /
              <a class="footnav-link" href="#">EN</a>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <hr />
    <div class="row text-center">
      <div class="col-lg-6 text-lg-left my-auto">
        <p class="">2017 DreamVok. All rights reserved</p>
      </div>
      <div class="col-lg-6 text-lg-left my-auto">
        <ul class="footnav list-inline mb-0">
          <li class="list-inline-item">
            <p class="">hello@dreamvok.com</p>
          </li>
          <li class="list-inline-item">
            <p class=" ">+886 2-27666229</p>
          </li>
          <li class="list-inline-item">
            <p><a href="{{ site.baseurl }}/privacy_policy">Privacy Policy</a></p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>