<!-- Footer -->
<footer class="footer bg-secondary">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <img class="" src="{{ site.baseurl }}/assets/images/footer/img_footer_logo@2x.jpg" alt="">
      </div>
      <div class="col-lg-4 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a href="{{ site.baseurl }}/news">News</a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="{{ site.baseurl }}/media">Media</a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="{{ site.baseurl }}/career">Career</a>
          </li>
          <li class="list-inline-item">
            <a href="{{ site.baseurl }}/contact">Contact</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 h-100 text-center text-lg-right my-auto">
        <p class="mr-0 mb-0">中文 /en</p>
      </div>

    </div>
    <hr />
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <p class=" mb-4 mb-lg-0">2017 DreamVok. All rights reserved</p>
      </div>
      <div class="contact col-lg-6 h-100 my-auto">
        <p class=" mb-4 mb-lg-0">hello@dreamvok.com</p>
        <p class=" mb-4 mb-lg-0">+886 2-27666229</p>
        <p class=" mb-4 mb-lg-0">Privacy Policy </p>
      </div>
    </div>
  </div>
</footer>