<!-- Navigation -->
{% assign default_paths = site.pages | map: "path" %}
{% assign page_paths = site.header_pages | default: default_paths %}

<nav class="navbar navbar-expand-lg navbar bg-white fixed-top" id="mainNav">
  <a href="{{ site.baseurl }}/"><img class="navbar-brand" src="{{ site.baseurl }}/assets/images/navbar/img_navbar_logo@2x.png" alt="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <img class="navbar-toggler-icon" src="{{ site.baseurl }}/assets/fonts/menu.svg" alt="icon name">
  </button>
  {% if page_paths %}
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto mr-3">
        
        <li class="nav-item {% if include.active_nav == 'about' %}active{% endif %}">
          <a class="nav-link" href="{{ site.baseurl }}/about/">About</a>
        </li>
        <li class="nav-item {% if include.active_nav == 'service' %}active{% endif %}">
          <a class="nav-link" href="{{ site.baseurl }}/service">Service</a>
        </li>
        <li class="nav-item {% if include.active_nav == 'case' %}active{% endif %}">
          <a class="nav-link" href="{{ site.baseurl }}/case">Case</a>
        </li>
        <li class="nav-item {% if include.active_nav == 'contact' %}active{% endif %}">
          <a class="nav-link" href="{{ site.baseurl }}/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://medium.com/@dreamvok"><img width="54px" class="navbar-vokano" src="{{ site.baseurl }}/assets/images/navbar/img_navbar_vokano@2x.png" alt="logo"></a>
        </li>
      </ul>
    </div>
  {% endif %}
</nav>

