<!-- Portfolio Normal -->
<section class="pb-0" id="portfolio">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12 mx-auto">
        <h3 class="middleline middleline-primary">
          <span>與客戶共同創造才能實踐嶄新的價值與獨特體驗</span>
        </h3>
      </div>
    </div>
  </div>
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-4">
        <a class="portfolio-item" href="#">
          <span class="caption">
            <span class="caption-content">
              <p class="category mb-0">Featured Work</p>
              <p class="category mb-0">創新背後所需之整合式設計研究</p>
            </span>
            <span class="caption-content">
              <h4 class="title">未來零售、未來旅遊創新設計思考工具包</h4>
            </span>
            <span class="caption-content">
              <p class="link mb-0 font-weight-normal">Read more</p>
            </span>
          </span>
          <img class="portfolio-blend-img img-fluid" src="{{ site.baseurl }}/assets/images/home/img_home_case_03@2x.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-4">
        <a class="portfolio-item" href="#">
          <span class="caption">
            <span class="caption-content">
              <p class="category mb-0">Featured Work</p>
              <p class="category mb-0">專利 / 技術之商品化與研發佈局顧問</p>
            </span>
            <span class="caption-content">
              <h4 class="title">失智症未來照護輔助系統</h4>
            </span>
            <span class="caption-content">
              <p class="link mb-0 font-weight-normal">Read more</p>
            </span>
          </span>
          <img class="img-fluid" src="{{ site.baseurl }}/assets/images/home/img_home_case_02@2x.jpg" alt="">
        </a>
      </div>
      <div class="col-lg-4">
        <a class="portfolio-item" href="#">
          <span class="caption">
            <span class="caption-content">
              <p class="category mb-0">Featured Work</p>
              <p class="category mb-0">品牌體驗與新商業模式設計</p>
            </span>
            <span class="caption-content">
              <h4 class="title">房仲科技 3.0</h4>
            </span>
            <span class="caption-content">
              <p class="link mb-0 font-weight-normal">Read more</p>
            </span>
          </span>
          <img class="img-fluid" src="{{ site.baseurl }}/assets/images/home/img_home_case_01@2x.jpg" alt="">
        </a>
      </div>
    </div>
  </div>
</section>