<!-- en/case/patent-technology-commercialization-and-rd-distribution-consultant/innovative-application-of-coating-technology -->

<header class="innovative-application text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1 class="">Innovative Application of Coating Technology</h1>
      </div>
    </div>
  </div>
</header>

<section class="case_content">
  <div class="container">
    <div class="row">
      <div class="text-left col-lg-8 mx-auto m-3">
        <p class="mb-3 properties">
          Project｜Innovative Application of Coating Technology<br>
          Category｜<a href="{{ site.baseurl }}/patent-technology-commercialization-and-r&d-distribution-consultant">Patent / Technology Commercialization and R&D Distribution Consultant</a><br>
          Clients｜ITRI Material and Chemical Research Laboratories<br>
          Year｜2016<br>
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
          “Super-hydrophilic treatment for durable anti-fogging coating technology” (hereafter coating technology), which was invented by the R&D team of the Material and Chemical Research Laboratories in ITRI, is a nano-material antifogging coating agent that can be applied on glass and mirror surfaces. The original application was aimed at the automotive beauty industry. However, there are many products (e.g. sprays) that have the same functions, and the market struggled to recognize the value of the coating technology. Thus, ITRI is working towards discovering new applications and re-defining the novel value for the coating technology.
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
          We applied “technology value innovation canvas,” a tool invented by the Dechnology team, in this project. The tool was designed to facilitate the co-creation of a multi-disciplinary team (i.e., R&D team and Design team) so that the values of the coating technology could be interpreted from different perspectives. Then, we illustrated the value of the coating technology through visualization, and systematically collected the trends from the different fields (i.e., transportation, living, indoor planting). The visualized material and trends were used to co-create with stakeholders from different areas in order to dig out the possible scenarios for commercialization. In this project, we not only helped the R&D team plan their business strategies for the next 3–5 years, but also found new industry partners and clients.
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3 mx-auto">  
        <img class="img-fluid" src="{{ site.baseurl }}/assets/images/case/patent-technology-commercialization-and-r&d-distribution-consultant/innovative-application-of-coating-technology/img_innovative-application-of-coating-technology_01@2x.jpg" alt="">
        <p class="text-primary img-desc">抗污易潔的塗料技術</p>
      </div>
    </div>
  </div>
</section>
  
<section class="pb-0" id="portfolio">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12 mx-auto">
        <h3 class="middleline middleline-primary">Related Cases</h3>
      </div>
    </div>
  </div>
  <div class="portfolio container-fluid p-0">
    <div class="row no-gutters">
      {% for case in site.data.relative-patent-technology %}
      {% if page.url contains case.url %}
        {% continue %} 
      {% endif %}
        
      <div class="col-lg-4">
        <a class="portfolio-item" href="{{ site.baseurl }}{{ case.url}}">
          <span class="caption">
            <span class="caption-content">
              <p class="category mb-0">{{ case.duration }}</p>
            </span>
            <span class="caption-content">
              <h4 class="title">{{ case.title_en }}</h4>
            </span>
            <span class="caption-content">
              <p class="link mb-0 font-weight-normal">Read more</p>
            </span>
          </span>
          <div class="portfolio-blend-img img-fluid {{ case.image_class }}" alt=""></div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>