<!-- en/case/patent-technology-commercialization-and-r&d-distribution-consultant/led-facial-mask -->

<header class="led-facial-mask text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1 class="">LED Facial Mask</h1>
      </div>
    </div>
  </div>
</header>

<section class="case_content">
  <div class="container">
    <div class="row">
      <div class="text-left col-lg-8 mx-auto m-3">
        <p class="mb-3 properties">
          Project｜LED Facial Mask<br>
          Category｜<a href="{{ site.baseurl }}/patent-technology-commercialization-and-r&d-distribution-consultant">Patent / Technology Commercialization and R&D Distribution Consultant</a><br>
          Clients｜ITRI Material and Chemical Research Laboratories<br>
          Year｜2012<br>
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
          “Photoconductive film technology" originates from the ITRI Material and Chemical Research Laboratory and is applied as a light guide in LED backlight modules. Since the related technologies were already mature, it was difficult to point out the significant differences that would add value in the saturated LED market. Consequently, the perceived value of Photoconductive film technology was decreasing. In the face of this challenging market, the R&D team proposed seeking new commercialization opportunities from other possible application fields.
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
          Therefore, based on the Dechnology methodological approach, we gathered experienced practitioners from industries, design, and technology to re-think new possibilities for Photoconductive film technology. During the co-creation process, we facilitated the team to generate a new concept –“Phantom Mask” – which was applied in the field of skincare. The vertical light refraction properties of Photoconductive film technology allowed the different wavelengths of light irradiated on the skin to diminish acne, blemishes, or pores.
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
          From the field of optoelectronics to the skincare industry, the Photoconductive film technology now has found new commercialization directions, defying the original assumptions and imagination R&D team. This new application finally increased the value of the technology ten-fold.
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3 mx-auto">  
        <img class="img-fluid" src="{{ site.baseurl }}/assets/images/case/patent-technology-commercialization-and-r&d-distribution-consultant/led-facial-mask/img_led-facial-mask_01@2x.jpg" alt="">
        <p class="text-primary img-desc">魅光膜 LED 光面膜</p>
      </div>
    </div>
  </div>
</section>

<section class="pb-0" id="portfolio">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12 mx-auto">
        <h3 class="middleline middleline-primary">Related Cases</h3>
      </div>
    </div>
  </div>
  <div class="portfolio container-fluid p-0">
    <div class="row no-gutters">
      {% for case in site.data.relative-patent-technology %}
      {% if page.url contains case.url %}
        {% continue %} 
      {% endif %}
        
      <div class="col-lg-4">
        <a class="portfolio-item" href="{{ site.baseurl }}{{ case.url}}">
          <span class="caption">
            <span class="caption-content">
              <p class="category mb-0">{{ case.duration }}</p>
            </span>
            <span class="caption-content">
              <h4 class="title">{{ case.title_en }}</h4>
            </span>
            <span class="caption-content">
              <p class="link mb-0 font-weight-normal">Read more</p>
            </span>
          </span>
          <div class="portfolio-blend-img img-fluid {{ case.image_class }}" alt=""></div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>