
<!-- en/case/patent-technology-commercialization-and-r&d-distribution-consultant/lobsang-stairlift -->

<header class="lobsang-stairlift text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1 class="">Lobsang Stairlift</h1>
      </div>
    </div>
  </div>
</header>

<section class="case_content">
  <div class="container">
    <div class="row">
      <div class="text-left col-lg-8 mx-auto m-3">
        <p class="mb-3 properties">
          Project｜Lobsang Stairlift<br>
          Category｜<a href="{{ site.baseurl }}/patent-technology-commercialization-and-r&d-distribution-consultant">Patent / Technology Commercialization and R&D Distribution Consultant</a><br>
          Clients｜Lobsang Corporation / ITRI<br>
          Year｜2013<br>
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
          ”FluxMerge” is a Slim Motor Technology that originated from ITRI (Mechanical and Mechatronics Systems Research Laboratories and Dechnology team) and is used to improve the operating efficiency of electric machines such as motors and generators. The R&D team mainly aimed at the electric scooter market, and now aims uncover other potential application for new market.
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
          On the other hand, Taiwan has one of the fastest aging populations and lowest declining birth rates in the world. As a result, more and more elderly people live alone, which causes many problems, such as with climbing stairs. Furthermore, most of the old apartments in Taiwan have limited space, and applying a standard “stairlift chair" is not feasible. Thus, we coordinated the designer, Lobsang Corporation (a stairlifts trader and manufacturer), and the R&D team to co-create a suitable stairlift chair for the local market. After a period of co-creation process, we successfully developed a new stairlift chair that can be conveniently installed on existing staircases. In addition, the exterior design is safer, more comfortable, aesthetically pleasing, and can be easily closed and controlled. After Lobsang launched the products on the market, it became the top brand in Taiwan, and also took over 23% of market share overseas.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="pb-0" id="portfolio">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12 mx-auto">
        <h3 class="middleline middleline-primary">Related Cases</h3>
      </div>
    </div>
  </div>
  <div class="portfolio container-fluid p-0">
    <div class="row no-gutters">
      {% for case in site.data.relative-patent-technology %}
      {% if page.url contains case.url or case.url contains 'dementia-future-care-support-system' %}
        {% continue %} 
      {% endif %}
        
      <div class="col-lg-4">
        <a class="portfolio-item" href="{{ site.baseurl }}{{ case.url}}">
          <span class="caption">
            <span class="caption-content">
              <p class="category mb-0">{{ case.duration }}</p>
            </span>
            <span class="caption-content">
              <h4 class="title">{{ case.title_en }}</h4>
            </span>
            <span class="caption-content">
              <p class="link mb-0 font-weight-normal">Read more</p>
            </span>
          </span>
          <div class="portfolio-blend-img img-fluid {{ case.image_class }}" alt=""></div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>