<!-- en/case/patent-technology-commercialization-and-r&d-distribution-consultant/medical-tattoo-stickers -->

<header class="medical-tattoo-stickers text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1 class="">Medical Tattoo Stickers</h1>
      </div>
    </div>
  </div>
</header>

<section class="case_content">
  <div class="container">
    <div class="row">
      <div class="text-left col-lg-8 mx-auto m-3">
        <p class="mb-3 properties">
          Project｜Medical Tattoo Stickers<br>
          Category｜<a href="{{ site.baseurl }}/patent-technology-commercialization-and-r&d-distribution-consultant">Patent / Technology Commercialization and R&D Distribution Consultant</a><br>
          Clients｜Development Center for Biotechnology / ITRI<br>
          Year｜2012<br>
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
          In the traditional medicinal patches markets, most of manufacturers focus on the effectiveness of analgesics and antipyretics, and often overlook the importance of users’ emotional needs. This often results in poor experience during the use phase (such as attaching unattractive patches on the skin while swimming). Furthermore, the development of traditional patches sometimes neglects needs of users with allergic skin (i.e., children and adolescents). Thus, users who find allergic reactions often refuse to use again after using the patches.
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
          The “multi-layer coating technology”, which originated from the Development Center for Biotechnology, is a technology that can not only extract the anti-inflammatory ingredients of herbs, but also lock their essences in tiny molecules. This allows the medicinal patches to slowly release over time. Aiming at uncovering the potential commercialization opportunities for this technology, we gathered designers and an R&D team, facilitating the co-creation process. After the co-creation, we conceived the idea of combining tiny molecules containing anti-inflammatory ingredients with tattoo stickers, which can generate added-value to the medicinal patches. This tattoo sticker resolves the shortcomings of traditional patches – not only can it ease inflammation without allergic reactions, but also provide an aesthetically pleasing appearance.
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3 mx-auto">  
        <img class="img-fluid" src="{{ site.baseurl }}/assets/images/case/patent-technology-commercialization-and-r&d-distribution-consultant/medical-tattoo-stickers/img_medical-tattoo-stickers_01@2x.jpg" alt="">
        <p class="text-primary img-desc">藥用紋身貼</p>
      </div>
    </div>
  </div>
</section>

<section class="pb-0" id="portfolio">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12 mx-auto">
        <h3 class="middleline middleline-primary">
          <span>Related Cases</span>
        </h3>
      </div>
    </div>
  </div>
  <div class="portfolio container-fluid p-0">
    <div class="row no-gutters">
      {% for case in site.data.relative-patent-technology %}
      {% if page.url contains case.url %}
        {% continue %} 
      {% endif %}
        
      <div class="col-lg-4">
        <a class="portfolio-item" href="{{ site.baseurl }}{{ case.url}}">
          <span class="caption">
            <span class="caption-content">
              <p class="category mb-0">{{ case.duration }}</p>
            </span>
            <span class="caption-content">
              <h4 class="title">{{ case.title_en }}</h4>
            </span>
            <span class="caption-content">
              <p class="link mb-0 font-weight-normal">Read more</p>
            </span>
          </span>
          <div class="portfolio-blend-img img-fluid {{ case.image_class }}" alt=""></div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>