<!-- en/case/patent-technology-commercialization-and-r&d-distribution-consultant/skincare-industry-innovation -->

<header class="skincare-industry text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1 class="">Skincare Industry Innovation</h1>
      </div>
    </div>
  </div>
</header>

<section class="case_content">
  <div class="container">
    <div class="row">
      <div class="text-left col-lg-8 mx-auto m-3">
        <p class="mb-3 properties">
          Project｜Skincare Industry Innovation<br>
          Category｜<a href="{{ site.baseurl }}/patent-technology-commercialization-and-r&d-distribution-consultant">Patent Technology Commercialization and R&D Distribution Consultant</a><br>
          Clients｜ITRI<br>
          Year｜2015<br>
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
          Taiwan is very advanced in cosmetics and skin care products manufacturing, and many beauty skincare products of well-known brands are actually made in Taiwan. However, from the perspective of global streaming, the key elements of raw materials and recipes are still controlled by the major skincare brands. Taiwan’s local business thus relies on imports to survive. Accordingly, they need to actively find a better value-added improvement.            
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
          Unlike traditional skincare products, which focus only on R&D, we redefine people’s skincare behavior. Through studies with the lead users, we elucidated the behavioral context and the demand gaps. After conducting analysis of benchmark cases worldwide, we first proposed the direction of innovation. Next, we gathered businesses, experts and users in the fields of medicine and beauty onto the same platform and incorporated new technological concepts, to discuss and come up with innovation opportunities that were more futuristic and challenging.            
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
          Finally, we defined various opportunities and planned an R&D blueprint through patent analysis. From the roadmap of innovation, we assisted multinational companies such as Taiyen to set goals for technology development and to cooperate with different R&D units for building a revolutionary eco-system of skincare industry.
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3 mx-auto">  
        <img class="img-fluid" src="{{ site.baseurl }}/assets/images/case/patent-technology-commercialization-and-r&d-distribution-consultant/skincare-industry-innovation/img_skincare-industry-innovation_01@2x.jpg" alt="">
        <p class="text-primary img-desc">保養產業創新佈局</p>
      </div>
    </div>
  </div>
</section>

<section class="pb-0" id="portfolio">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12 mx-auto">
        <h3 class="middleline middleline-primary">
          <span>Related Cases</span>
        </h3>
      </div>
    </div>
  </div>
  <div class="portfolio container-fluid p-0">
    <div class="row no-gutters">
      {% for case in site.data.relative-patent-technology %}
      {% if page.url contains case.url or case.url contains 'dementia-future-care-support-system' %}
        {% continue %} 
      {% endif %}
        
      <div class="col-lg-4">
        <a class="portfolio-item" href="{{ site.baseurl }}{{ case.url}}">
          <span class="caption">
            <span class="caption-content">
              <p class="category mb-0">{{ case.duration }}</p>
            </span>
            <span class="caption-content">
              <h4 class="title">{{ case.title_en }}</h4>
            </span>
            <span class="caption-content">
              <p class="link mb-0 font-weight-normal">Read more</p>
            </span>
          </span>
          <div class="portfolio-blend-img img-fluid {{ case.image_class }}" alt=""></div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>