<!-- en/case/patent-technology-commercialization-and-r&d-distribution-consultant/water911-water-rescue-motorboat -->

<header class="water911-water text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1 class="">Water911 Water Rescue Motorboat</h1>
      </div>
    </div>
  </div>
</header>

<section class="case_content">
  <div class="container">
    <div class="row">
      <div class="text-left col-lg-8 mx-auto m-3">
        <p class="mb-3 properties">
          Project｜Water911 Water Rescue Motorboat<br>
          Category｜<a href="{{ site.baseurl }}/patent-technology-commercialization-and-r&d-distribution-consultant">Patent Technology Commercialization and R&D Distribution Consultant</a><br>
          Clients｜Ship and Ocean Industries R&D Center / ITRI<br>
          Year｜2013 - 2015<br>
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
          Usually, motorboats are the first to arrive on the scene whenever there is a coastal drowning accident. However, there are some critical problems during the rescue via motorboats. For examples, traditional motorboats can only rescue a small number of people; also, unconscious patients are easily injured while towing via motorboats.
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
          In view of this, we systematically analyzed the water rescue scenarios and needs, and helped both the Ship and Ocean Industries R&D Center and motorboat businesses create a new design that combines “propulsion system integration technology” and “fluid analysis technology” to make motorboats more stable. At the same time, through the “modular airbag system” (with airbag accessories installed on both sides of the hull), the motorboats could now rescue 4-5 victims compared to 1-2 victims a time.
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
          At present, the Ship and Ocean Industries R&D Center has successfully transferred this technology to leading manufacturers of inflatable rescue boats and inflatable lifejackets in Taiwan. There were also physical displays and promotions at the 2016 Taiwan International Boat Show, 2016 Kaohsiung International Maritime & Defense Industry Exhibition, and 2016 Taipei International Invention Show & Technomart.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="pb-0" id="portfolio">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12 mx-auto">
        <h3 class="middleline middleline-primary">
          <span>Related Cases</span>
        </h3>
      </div>
    </div>
  </div>
  <div class="portfolio container-fluid p-0">
    <div class="row no-gutters">
      {% for case in site.data.relative-patent-technology %}
      {% if page.url contains case.url or case.url contains 'dementia-future-care-support-system' %}
        {% continue %} 
      {% endif %}
        
      <div class="col-lg-4">
        <a class="portfolio-item" href="{{ site.baseurl }}{{ case.url}}">
          <span class="caption">
            <span class="caption-content">
              <p class="category mb-0">{{ case.duration }}</p>
            </span>
            <span class="caption-content">
              <h4 class="title">{{ case.title_en }}</h4>
            </span>
            <span class="caption-content">
              <p class="link mb-0 font-weight-normal">Read more</p>
            </span>
          </span>
          <div class="portfolio-blend-img img-fluid {{ case.image_class }}" alt=""></div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>