<!-- en/case/integrative-design-research-required-for-innovation/future-retail-future-travel-innovative-design-thinking-toolkit -->

<header class="future-retail text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1 class="">Future Retailing & Traveling Experience Design Toolkit </h1>
      </div>
    </div>
  </div>
</header>

<section class="case_content">
  <div class="container">
    <div class="row">
      <div class="text-left col-lg-8 mx-auto m-3">
        <p class="mb-3 properties">
          Project｜Future Retailing & Traveling Experience Design Toolkit <br>
          Category｜<a href="{{ site.baseurl }}/integrative-design-research-required-for-innovation">Integrative design research required for innovation</a><br>
          Clients｜ITRI Commercialization and Industry Service Center<br>
          Year｜2014<br>
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
          Nowadays companies’ cross-department collaboration (as well as with external units), relies heavily on languages and interfaces that everyone can understand to make communication more efficient. In response to the changes in consumer behavior and technological applications, industries also need to deal with complex cooperative relationships and be able to provide innovative designs and integrate interdisciplinary resources.
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
          Thus, based on our knowledge accumulated from past research and design projects, we focused on two major future living themes, “retail” and “tourism,” and dissected the research process and innovative solution development to come up with an Experience Design Toolkit. We generated the user profiles, design cases, trends, and new technology applications and transposed them into easy-to-understand infographics in order to stimulate co-creation and brainstorming.
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
          The design process is presented as board games, including several service design tools (such as customer journey maps, persona), so that members from different backgrounds can exchange ideas more efficiently. This product is now widely used among our customers in the hospitality, financial, and media industries.
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3 mx-auto">  
        <img class="img-fluid" src="{{ site.baseurl }}/assets/images/case/integrative-design-research-required-for-innovation/future-retail-future-travel-innovative-design-thinking-toolkit/img_future-retail-future-travel-innovative-design-thinking-toolkit_01@2x.jpg" alt="">
        <p class="text-primary img-desc">未來零售創新設計思考工具包</p>
      </div>
    </div>
  </div>
</section>

<section class="pb-0" id="portfolio">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12 mx-auto">
        <h3 class="middleline middleline-primary">
          <span>Related Cases</span>
        </h3>
      </div>
    </div>
  </div>
  <div class="portfolio container-fluid p-0">
    <div class="row no-gutters">
      {% for case in site.data.integrative-design-research-required-for-innovation %} 
      {% if page.url contains case.url or case.url contains 'corporate-innovation-design-workshop' %} 
      {% continue %} 
      {% endif %}
      <div class="col-lg-4">
        <a class="portfolio-item" href="{{ site.baseurl }}{{ case.url}}">
          <span class="caption">
            <span class="caption-content">
              <p class="category mb-0">{{ case.duration }}</p>
            </span>
            <span class="caption-content">
              <h4 class="title">{{ case.title_en }}</h4>
            </span>
            <span class="caption-content">
              <p class="link mb-0 font-weight-normal">Read more</p>
            </span>
          </span>
          <div class="portfolio-blend-img img-fluid {{ case.image_class }}" alt=""></div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>