<!-- en/case/co-development-of-50+-new-aging-products/content -->
{% assign this_case_category = 'co-development' %}

<section style="padding-top: 4rem; padding-bottom: 4rem;">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mx-auto">
        <!-- dropdown container -->
        <div class="dropdown">

          <!-- trigger button -->
          <button>Co-Development of 50⁺ New Aging Products
            <span>
              <img class="img-fluid" src="{{ site.baseurl }}/assets/images/case/down.svg" alt="">
            </span>
          </button>

          <!-- dropdown menu -->
          <ul class="dropdown-menu">
            {% for category in site.data.case %} 
            {% if category.category == this_case_category %} 
            {% continue %} 
            {% endif %}
            <li>
              <a href="{{ site.baseurl }}{{ category.url }}">{{ category.title_en }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-primary">
  <div class="container ">
    <div class="row">
      <div class="col-lg-8 mx-auto m-5">
        <p>DreamVoker is now working on our Living Lab, and new 50⁺ elderly products/services are coming soon, please stay tuned! 
          <br>Please feel free to contact us for further information.</p>
      </div>
    </div>
  </div>
</section>