<!-- zh-TW/case/integrative-design-research-required-for-innovation/future-retail-future-travel-innovative-design-thinking-toolkit -->

<header class="future-retail text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1 class="">未來零售、未來旅遊創新設計思考工具包</h1>
      </div>
    </div>
  </div>
</header>

<section class="case_content">
  <div class="container">
    <div class="row">
      <div class="text-left col-lg-8 mx-auto m-3">
        <p class="mb-3 properties">
          專案名稱｜未來零售、未來旅遊創新設計思考工具包<br>
          服務項目｜<a href="{{ site.baseurl }}/integrative-design-research-required-for-innovation">創新背後所需之整合式設計研究</a><br>
          客戶｜工研院產服中心<br>
          年份｜2014<br>
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
          企業內跨部門或與外部單位合作，皆需要倚賴大家都能理解的語言及介面，讓彼此進行溝通時更有效率。其次，「零售產業」與「旅遊產業」是目前各國發展與投資的重點項目之一，因應新型態的消費趨勢與科技應用，使得產業必須面臨更複雜的協作關係，以及要能有進行創新設計與資源整合工作。            
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
          於是，DreamVok 特別針對上述兩大主題，將過去研究所累積的知識，以及執行專案的經驗，逐步拆解執行研究和發展創新解決方案的過程，撰寫成指引說明。我們將設計研究中所彙整的結果、提出的觀點與假設，轉換成容易理解的視覺化圖像，透過 50 張牌卡結合服務設計工具(如顧客旅程地圖等)，呈現人物樣貌、標竿案例、趨勢與新科技應用等內容。            
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
          設計的流程則透過「玩桌遊」的形式呈現，讓來自不同背景的成員可以互相對話，理解彼此並交換想法，讓討論變得有效率，目前已廣泛運用於我們的旅館業、金融業與媒體業客戶之中。
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3 mx-auto">  
        <img class="img-fluid" src="{{ site.baseurl }}/assets/images/case/integrative-design-research-required-for-innovation/future-retail-future-travel-innovative-design-thinking-toolkit/img_future-retail-future-travel-innovative-design-thinking-toolkit_01@2x.jpg" alt="">
        <p class="text-primary img-desc">未來零售創新設計思考工具包</p>
      </div>
    </div>
  </div>
</section>

<section class="pb-0" id="portfolio">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12 mx-auto">
        <h3 class="middleline middleline-primary">
          <span>相關案例</span>
        </h3>
      </div>
    </div>
  </div>
  <div class="portfolio container-fluid p-0">
    <div class="row no-gutters">
      {% for case in site.data.integrative-design-research-required-for-innovation %} 
      {% if page.url contains case.url or case.url contains 'corporate-innovation-design-workshop' %} 
      {% continue %} 
      {% endif %}
      <div class="col-lg-4">
        <a class="portfolio-item" href="{{ site.baseurl }}{{ case.url}}">
          <span class="caption">
            <span class="caption-content">
              <p class="category mb-0">{{ case.duration }}</p>
            </span>
            <span class="caption-content">
              <h4 class="title">{{ case.title }}</h4>
            </span>
            <span class="caption-content">
              <p class="link mb-0 font-weight-normal">Read more</p>
            </span>
          </span>
          <div class="portfolio-blend-img img-fluid {{ case.image_class }}" alt=""></div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>