<!-- zh-TW/case/integrative-design-research-required-for-innovation/how-to-age-with-good-design -->

<header class="how-to-age text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1 class="">高齡產品與服務創新工具組</h1>
      </div>
    </div>
  </div>
</header>

<section class="case_content">
  <div class="container">
    <div class="row">
      <div class="text-left col-lg-8 mx-auto m-3">
        <p class="mb-3 properties">
          專案名稱｜高齡產品與服務創新工具組<br>
          服務項目｜<a href="{{ site.baseurl }}/integrative-design-research-required-for-innovation">創新背後所需之整合式設計研究</a><br>
          客戶｜臺北市政府、5% Design Action 社會設計平台<br>
          年份｜2016<br>
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
          延續「下世代的友善高齡城市研究」，當城市居民快速老化，伴隨而來的是更多待解決的需求缺口和問題點。做為引領創新的設計團隊，我們試圖在巨人的肩膀上提出更好的設計思維方法，來協助企業更有效率地產出高齡好產品與服務。
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3 mx-auto">  
        <img class="img-fluid" src="{{ site.baseurl }}/assets/images/case/integrative-design-research-required-for-innovation/how-to-age-with-good-design/img_how-to-age-with-good-design_01@2x.jpg" alt="">
        <p class="text-primary img-desc">高齡產品與服務創新工具組</p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
          現階段國內外有許多值得參考的高齡健康促進、健康照護等創新標竿案例與做法，我們長期進行系統性分析，奠基於各國的經驗上，彙整成高齡友善之設計原則，從硬體 (physical evidence)、場域 (servicescape)、流程 (process) 和人員 (human-ware) 4 個面向分類製作工具組，以設計問句來引導開發團隊的思考脈絡，再以圖文搭配的方式來刺激創意發想，成為目前我們在服務企業及 50⁺ 新熟齡創新夥伴很好用的工具，未來將進一步發展成為線上系統。            
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3 mx-auto">  
        <img class="img-fluid" src="{{ site.baseurl }}/assets/images/case/integrative-design-research-required-for-innovation/how-to-age-with-good-design/img_how-to-age-with-good-design_02@2x.jpg" alt="">
        <p class="text-primary img-desc">設計原則牌卡</p>
      </div>
    </div>
  </div>
</section>

<section class="pb-0" id="portfolio">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12 mx-auto">
        <h3 class="middleline middleline-primary">相關案例</h3>
      </div>
    </div>
  </div>
  <div class="portfolio container-fluid p-0">
    <div class="row no-gutters">
      {% for case in site.data.integrative-design-research-required-for-innovation %} 
      {% if page.url contains case.url or case.url contains 'innovation-design-workshop-for-corporate' %} 
      {% continue %} 
      {% endif %}
      <div class="col-lg-4">
        <a class="portfolio-item" href="{{ site.baseurl }}{{ case.url}}">
          <span class="caption">
            <span class="caption-content">
              <p class="category mb-0">{{ case.duration }}</p>
            </span>
            <span class="caption-content">
              <h4 class="title">{{ case.title }}</h4>
            </span>
            <span class="caption-content">
              <p class="link mb-0 font-weight-normal">Read more</p>
            </span>
          </span>
          <div class="portfolio-blend-img img-fluid {{ case.image_class }}" alt=""></div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>