<!-- en/case/brand-experiences-and-new-business-model-design/content -->
{% assign this_case_category = 'brand-experiences' %}

<section style="padding-top: 4rem; padding-bottom: 4rem;">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 mx-auto">
        <!-- dropdown container -->
        <div class="dropdown">

          <!-- trigger button -->
          <button>Brand Experiences and New Business Model Design
            <span>
              <img class="img-fluid" src="{{ site.baseurl }}/assets/images/case/down.svg" alt="">
            </span>
          </button>

          <!-- dropdown menu -->
          <ul class="dropdown-menu">
            {% for category in site.data.case %} 
            {% if category.category == this_case_category %} 
            {% continue %} 
            {% endif %}
            <li>
              <a href="{{ site.baseurl }}{{ category.url }}">{{ category.title_en }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section_tide">
  <div class="portfolio container-fluid p-0">
    <div class="row no-gutters">
      {% for case in site.data.brand-experiences-and-new-business-model-design %}
      <div class="col-lg-4">
        <a class="portfolio-item" href="{{ site.baseurl }}{{ case.url}}">
          <span class="caption">
            <span class="caption-content">
              <p class="category mb-0">{{ case.duration }}</p>
            </span>
            <span class="caption-content">
              <h4 class="title">{{ case.title_en }}</h4>
            </span>
            <span class="caption-content">
              <p class="link mb-0 font-weight-normal">Read more</p>
            </span>
          </span>
          <div class="portfolio-blend-img img-fluid {{ case.image_class }}" alt=""></div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
