<!-- en/case/brand-experiences-and-new-business-model-design/real-estate-technology-3-0 -->

<header class="real-estate text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1 class="">Real Estate Technology 3.0</h1>
      </div>
    </div>
  </div>
</header>

<section class="case_content">
  <div class="container">
    <div class="row">
      <div class="text-left col-lg-8 mx-auto m-3">
        <p class="mb-3 properties">
          Project｜Real Estate Technology 3.0<br>
          Category｜<a href="{{ site.baseurl }}/brand-experiences-and-new-business-model-design">Brand Experiences and New Business Model Design</a><br>
          Clients｜Yung Ching Realty Group<br>
          Year｜2012 - 2014<br>
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
          Since 2012, Yung-Ching Realty Group has been working with our team in hopes of developing a new generation real estate consultancy service model to enhance service quality and efficiency. During the R&D process of real estate service innovation, we helped to spark new markets and technology ideas by various theme-based interviews with various types of customers, inviting front-line brokers to discuss service gaps, and by collecting cross-cutting benchmark cases and technological trends. We not only exported “precision matching” that met the needs of consumers, we were able to produce the follow-up “Real Estate Technology 3.0” innovation service model.          
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
          Different from the past where a lot of printed information needed to be carried around and the lack of information due to diverse customer needs, Real Estate Technology 3.0 has integrated technology tools and cloud systems so that brokers can serve customers anytime and anywhere through tablets and smart phones, increasing customer interaction. They are able to explore customer needs and help accurately find property that suits customers, which not only improves efficiency, it also helps customers save 20% of time surveying houses.          
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
          “Real Estate Technology 3.0” integrates the current trend of “All Access Service” where consumers can search for objects, receive information, and have interaction through stores, websites, smart phones or tablets. Their actions are also recorded so that Yung Ching’s virtual and physical services are fully connected, breaking the restrictions of space and geography.
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3 mx-auto">  
        <img class="img-fluid" src="{{ site.baseurl }}/assets/images/case/brand-experiences-and-new-business-model-design/real-estate-technology-3-0/img_real-estate-technology-3-0_01@2x.jpg" alt="">
        <p class="text-primary img-desc">共創設計的過程</p>
      </div>
    </div>
  </div>
</section>

<section class="pb-0" id="portfolio">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12 mx-auto">
        <h3 class="middleline middleline-primary">
          <span>Related Cases</span>
        </h3>
      </div>
    </div>
  </div>
  <div class="portfolio container-fluid p-0">
    <div class="row no-gutters">
      {% for case in site.data.brand-experiences-and-new-business-model-design %} 
      {% assign current_url = case.url | append: '.html' %} 
      {% if current_url == page.url %} 
      {% continue %} 
      {% endif %}
      <div class="col-lg-4">
        <a class="portfolio-item" href="{{ site.baseurl }}{{ case.url}}">
          <span class="caption">
            <span class="caption-content">
              <p class="category mb-0">{{ case.duration }}</p>
            </span>
            <span class="caption-content">
              <h4 class="title">{{ case.title_en }}</h4>
            </span>
            <span class="caption-content">
              <p class="link mb-0 font-weight-normal">Read more</p>
            </span>
          </span>
          <img class="portfolio-blend-img img-fluid" src="{{ site.baseurl }}/assets/images/{{ case.image_url}}" alt="">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>