<!-- zh-TW/case/patent-technology-commercialization-and-rd-distribution-consultant/dementia-future-care-support-system -->

<header class="dementia-future text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1 class="">失智症未來照護輔助系統</h1>
      </div>
    </div>
  </div>
</header>

<section class="case_content">
  <div class="container">
    <div class="row">
      <div class="text-left col-lg-8 mx-auto m-3">
        <p class="mb-3 properties">
          專案名稱｜失智症未來照護輔助系統<br>
          案例類別｜<a href="{{ site.baseurl }}/patent-technology-commercialization-and-r&d-distribution-consultant">專利 / 技術之商品化與研發佈局顧問</a><br>
          客戶｜工研院<br>
          年份｜2016<br>
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
          全球平均每 3 秒就有一人罹患失智症，是所有病症中最高的直接與間接照護成本。過去失智症照護的研究與投入皆著重在患者本身，往往忽略照護者的辛勞：沈重的照護，帶給專業照護者與家庭照護者諸多不安、不滿與不便，使他們承受莫大的身心壓力和財務重擔。
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3 mx-auto">  
        <img class="img-fluid" src="{{ site.baseurl }}/assets/images/case/patent-technology-commercialization-and-r&d-distribution-consultant/dementia-future-care-support-system/img_dementia-future-care-support-system_01@2x.jpg" alt="">
        <p class="text-primary img-desc">跨領域專家共創</p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
          為了更清楚照護者的需求與痛點，我們與工研院在前期拜訪南北多個失智症照護機構，觀察亦與第一線照護人員、患者和家屬進行深度訪談。從研究中發現，家庭照顧者與專業照護者關鍵的需求，進而提出失智症照護的創新機會點，並描繪最佳的未來照護情境。經過反覆驗證、修改與再次驗證回饋，團隊確立了具體的創新設計方案：智慧化的失智症輔助照護系統 (Dementia Care Assistant)。
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3 mx-auto">  
        <img class="img-fluid" src="{{ site.baseurl }}/assets/images/case/patent-technology-commercialization-and-r&d-distribution-consultant/dementia-future-care-support-system/img_dementia-future-care-support-system_02@2x.jpg" alt="">
        <p class="text-primary img-desc">失智症照護的最佳情境</p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
            如電影「魔鬼終結者」中的「天網 (Skynet)」，智慧化的照護系統將串連起機構、社區和居家場域，我們可以透過設計與科技打造「在地全日照」的永續服務，翻轉失智症照護現場和產業現況。專案後續與工研院技術整合團隊根據各項功能，制定明確的系統研發和技術需求的規格，並建構技術研發藍圖，作為工研院未來的技術研發方向之重要參考依據。
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3 mx-auto">  
          <div class="videoWrapper">
            <iframe width="100%" height="auto" src="https://www.youtube.com/embed/nZZVq4eJhh8" frameborder="0" allowfullscreen></iframe>
          </div>
        
        <p class="text-primary img-desc">情境影片</p>
      </div>
    </div>
  </div>
</section>

<section class="pb-0" id="portfolio">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12 mx-auto">
        <h3 class="middleline middleline-primary">
          <span>相關案例</span>
        </h3>
      </div>
    </div>
  </div>
  <div class="portfolio container-fluid p-0">
    <div class="row no-gutters">
      {% for case in site.data.relative-patent-technology %}
      {% if page.url contains case.url or case.url contains 'dementia-future-care-support-system' %}
        {% continue %} 
      {% endif %}
        
      <div class="col-lg-4">
        <a class="portfolio-item" href="{{ site.baseurl }}{{ case.url}}">
          <span class="caption">
            <span class="caption-content">
              <p class="category mb-0">{{ case.duration }}</p>
            </span>
            <span class="caption-content">
              <h4 class="title">{{ case.title }}</h4>
            </span>
            <span class="caption-content">
              <p class="link mb-0 font-weight-normal">Read more</p>
            </span>
          </span>
          <img class="portfolio-blend-img img-fluid" src="{{ site.baseurl }}/assets/images/{{ case.image_url}}" alt="">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>