<!-- zh-TW/case/patent-technology-commercialization-and-r&d-distribution-consultant/led-facial-mask -->

<header class="led-facial-mask text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1 class="">魅光膜 LED 光面膜</h1>
      </div>
    </div>
  </div>
</header>

<section class="case_content">
  <div class="container">
    <div class="row">
      <div class="text-left col-lg-8 mx-auto m-3">
        <p class="mb-3 properties">
          專案名稱｜魅光膜 LED 光面膜<br>
          服務項目｜<a href="{{ site.baseurl }}/patent-technology-commercialization-and-r&d-distribution-consultant">專利 / 技術之商品化與研發佈局顧問</a><br>
          客戶｜工研院材化所<br>
          年份｜2012<br>
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
          「光導薄膜」是專門用在 LED 螢幕等顯示器的背光源，在市場已是十分成熟的技術，附加價值逐年遞減。面對此高度飽和與競爭的市場，我們如何在「其它應用領域」找到符合市場需求使用情境，讓設計出的產品能凸顯技術價值、增加效益？            
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
          因此，我們針對工研院光導薄膜技術，召集產業界、設計師與技術團隊進行共創發想。在科技研發的過程引入「Dechnology 創新設計方法」來回激盪，最後推出居家醫美保養新概念 -「魅光膜」。也就是開發出結合 LED 的紅色光源的面膜，透過光導薄膜技術可「垂直入光」的特性，讓不同波長的光線照射到肌膚時，有去痘、淡斑或縮小毛孔等不同程度的用途。            
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
          從光電領域到醫美產業，使得光導薄膜技術有了全新的應用領域，顛覆了原有技術團隊的原始假設與想像之外，更提高了技術的附加價值十多倍，協助單位突破原有技術到商品化階段的困境。
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3 mx-auto">  
        <img class="img-fluid" src="{{ site.baseurl }}/assets/images/case/patent-technology-commercialization-and-r&d-distribution-consultant/led-facial-mask/img_led-facial-mask_01@2x.jpg" alt="">
        <p class="text-primary img-desc">魅光膜 LED 光面膜</p>
      </div>
    </div>
  </div>
</section>

<section class="pb-0" id="portfolio">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12 mx-auto">
        <h3 class="middleline middleline-primary">相關案例</h3>
      </div>
    </div>
  </div>
  <div class="portfolio container-fluid p-0">
    <div class="row no-gutters">
      {% for case in site.data.relative-patent-technology %}
      {% if page.url contains case.url %}
        {% continue %} 
      {% endif %}
        
      <div class="col-lg-4">
        <a class="portfolio-item" href="{{ site.baseurl }}{{ case.url}}">
          <span class="caption">
            <span class="caption-content">
              <p class="category mb-0">{{ case.duration }}</p>
            </span>
            <span class="caption-content">
              <h4 class="title">{{ case.title }}</h4>
            </span>
            <span class="caption-content">
              <p class="link mb-0 font-weight-normal">Read more</p>
            </span>
          </span>
          <div class="portfolio-blend-img img-fluid {{ case.image_class }}" alt=""></div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>