
<!-- zh-TW/case/patent-technology-commercialization-and-r&d-distribution-consultant/lobsang-stairlift -->

<header class="lobsang-stairlift text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1 class="">羅布森樓梯升降座椅</h1>
      </div>
    </div>
  </div>
</header>

<section class="case_content">
  <div class="container">
    <div class="row">
      <div class="text-left col-lg-8 mx-auto m-3">
        <p class="mb-3 properties">
          專案名稱｜羅布森樓梯升降座椅<br>
          服務項目｜<a href="{{ site.baseurl }}/patent-technology-commercialization-and-r&d-distribution-consultant">專利 / 技術之商品化與研發佈局顧問</a><br>
          客戶｜羅布森公司、工研院<br>
          年份｜2013<br>
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
          台灣是全球人口老化速度最快的國家之一，又受到少子化趨勢的影響，產生越來越多高齡獨居所延伸的問題，如上下樓的移動就是目前高齡者在生活上的一大痛點。而對於目前大多數的老舊公寓而言，加裝「樓梯升降椅」，似乎就是一種可能的解法。            
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
          台灣樓梯升降椅過去一直以歐美代理商為主，2013 年羅布森公司與工研院 (機械所及 Dechnology 團隊)共同開發，運用「薄型馬達」技術來驅動升降座椅，由於座椅體積縮小，能夠安裝在家中多數現有樓梯，再加上外型設計更講求安全、舒適、美觀、又能輕鬆收合與控制。因此，羅布森公司自行開發後，以「MIT」居銷售台數第一名，並從歐美大廠拿下約 23% 市占率，營收則與荷蘭品牌 Otolift 旗鼓相當，位居市場前二大，做到了營收破億元的銷售成績。
        </p>
      </div>
    </div>
  </div>
</section>

<section class="pb-0" id="portfolio">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12 mx-auto">
        <h3 class="middleline middleline-primary">相關案例</h3>
      </div>
    </div>
  </div>
  <div class="portfolio container-fluid p-0">
    <div class="row no-gutters">
      {% for case in site.data.relative-patent-technology %}
      {% if page.url contains case.url or case.url contains 'dementia-future-care-support-system' %}
        {% continue %} 
      {% endif %}
        
      <div class="col-lg-4">
        <a class="portfolio-item" href="{{ site.baseurl }}{{ case.url}}">
          <span class="caption">
            <span class="caption-content">
              <p class="category mb-0">{{ case.duration }}</p>
            </span>
            <span class="caption-content">
              <h4 class="title">{{ case.title }}</h4>
            </span>
            <span class="caption-content">
              <p class="link mb-0 font-weight-normal">Read more</p>
            </span>
          </span>
          <div class="portfolio-blend-img img-fluid {{ case.image_class }}" alt=""></div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>