<!-- zh-TW/case/brand-experiences-and-new-business-model-design/new-insurance-service-design-for-the-retirement-market -->

<header class="retirement-market text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1 class="">退休市場保險創新服務設計</h1>
      </div>
    </div>
  </div>
</header>

<section class="case_content">
  <div class="container">
    <div class="row">
      <div class="text-left col-lg-8 mx-auto m-3">
        <p class="mb-3 properties">
          專案名稱｜退休市場保險創新服務設計
          <br> 服務項目｜
          <a href="{{ site.baseurl }}/brand-experiences-and-new-business-model-design">品牌體驗與新商業模式設計</a>
          <br> 客戶｜保德信國際人壽保險
          <br> 年份｜2016 - 2017
          <br>
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
          2018年，台灣 65 歲以上人口將超過 14％，進入高齡社會。2025 年，65 歲以上人口更將高達 20％，正式進入超高齡社會。面對不斷延長的人生下半場，我們準備好了嗎？過去人們對人生下半場的財務面的需求和規劃，多半是為了「失能、失智、失依」做準備。然而，隨著壽命不斷延長，這種傳統的財務規劃方式也已經失效。
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
          因此，我們與保德信人壽合作，搜集國內主計處等官方統計、國外趨勢報告與客戶分群體驗分析，發現使退休族群對於第二人生充滿期待與信心的主因，並不只是抽象數字的多寡，而是來自對往後的生活規劃有具體的輪廓，並且知道自己有實現的能力。
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3 mx-auto">
        <img class="img-fluid" src="{{ site.baseurl }}/assets/images/case/brand-experiences-and-new-business-model-design/new-insurance-service-design-for-the-retirement-market/img_new-insurance-service-design-for-the-retirement-market_01@2x.jpg"
          alt="">
        <p class="text-primary img-desc">第二人生設計工具包</p>
      </div>
      <div class="col-lg-8 mx-auto m-3">
        <p class="">
          因此歷經 10 個月後，首度整理出符合台灣社會 50+ 族群的第二人生「生活風格9大面向」，開發出「第二人生設計工具包」，利用這套分析工具，50+ 族群可以把自己當成人生的設計師，像設計一台 iPhone 一樣有方法、有系統的規劃。這也銜接保德信人壽未來新形態的客戶服務、系統建置規劃與教育訓練，延伸創造了更符合未來退休市場需求的創新服務及產品。
        </p>
      </div>
      <div class="col-lg-8 mx-auto m-3 mx-auto">
        <img class="img-fluid" src="{{ site.baseurl }}/assets/images/case/brand-experiences-and-new-business-model-design/new-insurance-service-design-for-the-retirement-market/img_new-insurance-service-design-for-the-retirement-market_02@2x.jpg"
          alt="">
      </div>
    </div>
  </div>
</section>


<section class="pb-0" id="portfolio">
  <div class="container">
    <div class="row mb-5">
      <div class="col-lg-12 mx-auto">
        <h3 class="middleline middleline-primary">
          <span>相關案例</span>
        </h3>
      </div>
    </div>
  </div>
  <div class="portfolio container-fluid p-0">
    <div class="row no-gutters">
      {% for case in site.data.brand-experiences-and-new-business-model-design %} 
      {% assign current_url = case.url | append: '.html' %} 
      {% if current_url == page.url %} 
      {% continue %} 
      {% endif %}
      <div class="col-lg-4">
        <a class="portfolio-item" href="{{ site.baseurl }}{{ case.url}}">
          <span class="caption">
            <span class="caption-content">
              <p class="category mb-0">{{ case.duration }}</p>
            </span>
            <span class="caption-content">
              <h4 class="title">{{ case.title }}</h4>
            </span>
            <span class="caption-content">
              <p class="link mb-0 font-weight-normal">Read more</p>
            </span>
          </span>
          <div class="portfolio-blend-img img-fluid {{ case.image_class }}" alt=""></div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>